<section class="tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
      <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.serverType">{{localize "LIVEKITAVCLIENT.serverType"}}:</label>
      <div class="form-fields">
        <select id="{{rootId}}-avclient-livekit.liveKitConnectionSettings.serverType" name="avclient-livekit.liveKitConnectionSettings.serverType">
          {{selectOptions serverTypes selected=liveKitConnectionSettings.serverType valueAttr="key" labelAttr="label" localize=true}}
        </select>
      </div>
      <p class="hint">{{ localize "LIVEKITAVCLIENT.serverTypeNotes" }}</p>
    </div>

    <fieldset data-custom-server-config {{ifThen (ne liveKitConnectionSettings.serverType "custom") "hidden" ""}}>
      <legend>{{localize "LIVEKITAVCLIENT.serverTypeCustom"}}</legend>

      <div class="form-group">
        <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.url">
          {{localize "LIVEKITAVCLIENT.liveKitServerURL"}}
        </label>
        <div class="form-fields">
          <input type="text"
            id="avclient-livekit.liveKitConnectionSettings.url"
            name="avclient-livekit.liveKitConnectionSettings.url"
            value="{{liveKitConnectionSettings.url}}">
        </div>
      </div>
      <div class="form-group">
        <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.username">
          {{localize "LIVEKITAVCLIENT.liveKitServerAPIKey"}}
        </label>
        <div class="form-fields">
          <input type="text"
            id="avclient-livekit.liveKitConnectionSettings.username"
            name="avclient-livekit.liveKitConnectionSettings.username"
            value="{{liveKitConnectionSettings.username}}">
        </div>
      </div>
      <div class="form-group">
        <label for="{{rootId}}-avclient-livekit.liveKitConnectionSettings.password">
          {{localize "LIVEKITAVCLIENT.liveKitServerSecretKey"}}
        </label>
        <div class="form-fields">
          <input type="password"
            id="avclient-livekit.liveKitConnectionSettings.password"
            name="avclient-livekit.liveKitConnectionSettings.password"
            value="{{liveKitConnectionSettings.password}}"
            autocomplete="one-time-code">
        </div>
      </div>
    </fieldset>

    <fieldset data-tavern-server-config {{ifThen (ne liveKitConnectionSettings.serverType "tavern") "hidden" ""}}>
      <legend>{{localize "LIVEKITAVCLIENT.serverTypeTavern"}}</legend>
      <div class="form-group">
        {{#if tavernPatreonToken}}
          <label for="tavern-logout-button">{{localize "LIVEKITAVCLIENT.tavernAccountLabel"}}:</label>
          <div class="form-fields">
            <button type="button" id="tavern-logout-button">
              <i class="fa-brands fa-patreon"></i>
              <span>{{ localize "LIVEKITAVCLIENT.tavernAccountLogoutLabel" }}</span>
            </button>
          </div>
          {{#if authResponse }}
            <p class="hint">
              {{#if authResponse.error}}
                {{ localize "LIVEKITAVCLIENT.patreonAccountError"}}: <i>{{authResponse.error}}</i>
              {{else}}
                {{ localize "LIVEKITAVCLIENT.patreonAccountNote"}}: <i>{{#if authResponse.vanity}}{{authResponse.vanity}}{{else}}{{authResponse.full_name}}{{/if}}</i>
                (<a href="https://www.patreon.com/bekit">{{#if authResponse.active_tier}}{{authResponse.active_tier}}{{else}}{{localize "LIVEKITAVCLIENT.patreonAccountNotMember"}}{{/if}}</a>)
              {{/if}}
            </p>
          {{/if}}
        {{else}}
          <label for="tavern-patreon-button">{{localize "LIVEKITAVCLIENT.tavernAccountLabel"}}:</label>
          <div class="form-fields">
            <button type="button" id="tavern-patreon-button">
              <i class="fa-brands fa-patreon"></i>
              <span>{{ localize "LIVEKITAVCLIENT.tavernAccountPatreonLabel" }}</span>
            </button>
          </div>
          <p class="hint">{{ localize "LIVEKITAVCLIENT.tavernAccountPatreonHint" }}</p>
          <div class="form-group tavern-auth-token hidden" id="tavern-auth-token">
            <label for="tavern-patreon-token-input">{{localize "LIVEKITAVCLIENT.tavernAccountToken"}}:</label>
            <div class="form-fields">
              <input type="password" id="tavern-patreon-token-input" name="avclient-livekit.tavernPatreonToken" value="{{tavernPatreonToken}}" />
            </div>
            <p class="hint">{{ localize "LIVEKITAVCLIENT.tavernAccountTokenHint" }}</p>
          </div>
        {{/if}}
      </div>
    </fieldset>
</section>

